 <h1 style='color:#008cba'>Create a Survey</h1>

<div class="container">
  <form id="create-survey-form" method="POST" autocomplete="off" style="color:#008cba">
    <%= erb :"survey_views/_survey_tit_desc" %>
  </form>
  <form id="create-question-form" action='/survey/create/question' method="POST" autocomplete="off" style="color:#008cba">
    <%= erb :"survey_views/_create_question_text" %>
    <%= erb :"survey_views/_create_response_options" %>
    <%= erb :"survey_views/_fixed-response_options" %>
    <%= erb :"survey_views/_free-response_options" %>
    <%= erb :"survey_views/_user-action-buttons" %>
  </form>
</div>


<!--  create_table :surveys do |t|
      t.string      :title
      t.text        :description
      t.belongs_to  :user
      t.timestamps -->

